* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

#container{
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

h2{
    font-size: 1.2rem;
}

#container>input{
    width: 80%;
    height: 15%;
}

textarea{
    border: none;
    background: rgb(219, 223, 219);
    border-radius: 4px;
    
}

textarea:focus{
    outline: 0;
}